/* common系設定 */
/* 色 */
$base_color_white: #eaeaea;
$base_color_white_2: #ccc;
$base_color_black: #0a0a0a;
$base_color_black_2: #222;
$base_color_red: #fa0a0a;
$base_color_red_2: #ff5e00;
$base_color_blue: #0a0afa;
$base_color_blue_2: #04f;
$base_color_yellow: #fafa0a;
$base_color_yellow_2: #ecec00;
$base_color_orange: #ffa500;
$base_color_orange_2: #ff5e00;

/* シャドウ色 */
$shadow_color_black: #000;

/* 文字色 */
$base_font_color: #636b6f;

/* ナビ色 */
$base_navi_color: #4d2169;

/* ボーダー色 */
$base_border_color: #454545;
