/**
* views item
*/
#item-app{
  .item_table{
      margin: 25px;
    ._row{
        border: solid 1px $base_border_color;
        line-height: 3rem;
        margin: 2px 0;
        max-width: 800px;
      &._sepa{
        &::before{
          @include position($dis: inline-block, $wid: 25%);
          text-align: center;
          margin-right: 10px;
          border-right: solid 1px $base_border_color;
        }
      }
      ._conte{
        @include position($dis: inline-block);
      }
    }
    ._name{
      &::before{
          content: '商品名';
      }
    }
    ._desc{
      &::before{
          content: '商品説明';
      }
    }
    ._price{
      &::before{
          content: '価格(税込み)';
      }
      &::after{
          content: '円';
      }
    }
    ._stock{
      &::before{
          content: '在庫';
      }
    }
  }
  .item_list{
      @include position;
      margin: auto;
      text-align: center;
  }
  .item_tray{
      @include position($dis: inline-block, $wid: 28%);
      min-width: 150px;
      margin: 10px;
    ._thumbnail{
        position: relative;
        overflow: hidden;
      &:hover{
          @include filter($inve: 1);
        &::after{
          animation: _thumbnail_over .3s ease 0s 1 normal forwards;
        }
      }
      &::after{
          content: attr(itshde);
          @include position($pos: absolute, $dis: flex, $wid: 100%, $hei: 40px, $bot: -40px, $lef: 0);
          justify-content: center;
          align-items: center;
          background-color: $base_color_white;
          color: $base_color_black;
          font-size: 90%;
          font-weight: bold;
          line-height: 95%;
          letter-spacing: -.08em;
      }
    }
    img[data-v-thum]{
        display: block;
    }
  }
  @keyframes _thumbnail_over {
      0% {
          bottom: -40px;
      }
      100% {
          bottom: 0;
      }
  }
}
